@font-face {
    font-family: 'Kyrou7WideBoldXtnd';
    src: url('../fonts/GrixelKyrou7WideBoldXtnd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #111;
    color: #F70;
    font-size: 1em;
    font-family: 'Kyrou7WideBoldXtnd';
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #85bcfa;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


::-webkit-scrollbar-thumb:window-inactive {
    background: #444;
}
