<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="google" content="notranslate">

    <link rel="apple-touch-icon" sizes="180x180"       href="/{{ config.dirs.static }}/img/brand/logo-180x180.png" />
    <link rel="apple-touch-icon" sizes="152x152"       href="/{{ config.dirs.static }}/img/brand/logo-152x152.png" />
    <link rel="apple-touch-icon" sizes="144x144"       href="/{{ config.dirs.static }}/img/brand/logo-144x144.png" />
    <link rel="apple-touch-icon" sizes="120x120"       href="/{{ config.dirs.static }}/img/brand/logo-120x120.png" />
    <link rel="apple-touch-icon" sizes="114x114"       href="/{{ config.dirs.static }}/img/brand/logo-114x114.png" />
    <link rel="apple-touch-icon" sizes="76x76"         href="/{{ config.dirs.static }}/img/brand/logo-76x76.png" />
    <link rel="apple-touch-icon" sizes="72x72"         href="/{{ config.dirs.static }}/img/brand/logo-72x72.png" />
    <link rel="apple-touch-icon" sizes="60x60"         href="/{{ config.dirs.static }}/img/brand/logo-60x60.png" />
    <link rel="apple-touch-icon" sizes="57x57"         href="/{{ config.dirs.static }}/img/brand/logo-57x57.png" />
    <link rel="icon" type="image/png" sizes="192x192"  href="/{{ config.dirs.static }}/img/brand/logo-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32"    href="/{{ config.dirs.static }}/img/brand/logo-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96"    href="/{{ config.dirs.static }}/img/brand/logo-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16"    href="/{{ config.dirs.static }}/img/brand/logo-16x16.png" />
    <link rel="icon" href="/{{ config.dirs.static }}/favicon.ico" />

    <title>{{ config.name }} {{ config.version }}</title>
    <style>
        body {
            background-color: #000;
            color: #ddd;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{ config.name }} {{ config.version }}</h1>
        <p>{{ config.full_name }}</p>
        <p>Client IP: {{ config.client_ip }}</p>
        <ul>
        {% for header, value in config.headers.items() %}
            <li>{{ header }}: {{ value }}</li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
