<div style="background: #5B21B6; padding: 20px; text-align: center;">
    <div style="max-width: 800px; text-align: left; margin-left: auto; margin-right: auto; padding: 15px 25px; background: #FEFEFE; color: #111827; border-radius: 10px; border: 6px solid #8B5CF6;">
        <p style="padding:  5px 0; font-family: sans-serif; font-size: 22px; font-weight: bold; color: #4C1D95;">
            {{data.app_full_name}}
        </p>
        <p style="padding:  5px 0; font-family: sans-serif; font-size: 16px;">
            Hello <b>{{data.user.username}}</b>, site deployed.
        </p>
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 16px; font-weight: bold;">
            Result
        </p>
        <p style="padding: 5px 10px; font-size: 14px; border-radius: 5px;">
        <pre style="font-family: 'Courier New', Courier, monospace;">{{data.data}}</pre>
        </p>
    </div>
</div>