<div style="background: #023047; padding: 20px; text-align: center;">
    <div style="max-width: 800px; text-align: left; margin-left: auto; margin-right: auto; padding: 15px 25px; background: #FEFEFE; color: #323232; border-radius: 10px; border: 6px solid #0db39e;">
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 22px; font-weight: bold; color: #023047;">
            {app_full_name}
        </p>
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 16px;">
            Hello <b>{username}</b>, your account and security access was updated due to email change.
        </p>
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 16px;">
            Your PIN:
        </p>
        <p style="padding: 5px 0; font-family: monospace, monospace; color: #0db39e; font-size: 14px;">{pin}</p>
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 16px;">
            Click on link bellow to start activation:
        </p>
        <p style="padding: 5px 0; font-family: monospace, monospace; color: #0db39e; font-size: 14px;">
            <a href="{activation_link}" style="color:#0db39e;">{activation_link}</a>
        </p>
    </div>
</div>