<div style="background: #023047; padding: 20px; text-align: center;">
    <div style="max-width: 800px; text-align: left; margin-left: auto; margin-right: auto; padding: 5px; background: #FEFEFE; color: #323232; border-radius: 10px; border: 6px solid #0db39e;">
        <p style="padding: 5px 15px; font-family: sans-serif; font-size: 22px; font-weight: bold; color: #023047;">
            {app_full_name}
        </p>
        <p style="padding: 5px 15px; font-family: sans-serif; font-size: 16px;">
            Hello <b>{username}</b>, your account was updated.
        </p>
        <p style="padding: 5px 15px; font-family: sans-serif; font-size: 16px;">
            Your security token was not modified.
        </p>
    </div>
</div>