<div style="background: #023047; padding: 20px; text-align: center">
    <div style="max-width: 800px; text-align: left; margin-left: auto; margin-right: auto; padding: 5px; background: #fefefe; color: #323232; border-radius: 10px; border: 6px solid #0db39e;">
        <p style="padding: 5px 15px; font-family: sans-serif; font-size: 22px; font-weight: bold; color: #023047;">
            {app_full_name}
        </p>
        <p style="padding: 5px 15px; font-family: sans-serif; font-size: 16px">
            Hello <b>{username}</b>, you have new account.
        </p>
        <p style="padding: 5px 15px; font-family: sans-serif; font-size: 16px">
            Your PIN:
        </p>
        <p style="padding: 5px 15px; font-family: monospace, monospace; color: #0db39e; font-size: 14px;">
            {pin}
        </p>
        <p style="padding: 5px 15px; font-family: sans-serif; font-size: 16px">
            Click on link to activate:
        </p>
        <p style="padding: 5px 15px; font-family: monospace, monospace; color: #0db39e; font-size: 14px;">
            <a href="{activation_link}" style="color: #0db39e">{activation_link}</a
            >
        </p>
    </div>
</div>
