<div style="background: #5B21B6; padding: 20px; text-align: center;">
    <div style="max-width: 800px; text-align: left; margin-left: auto; margin-right: auto; padding: 15px 25px; background: #FEFEFE; color: #111827; border-radius: 10px; border: 6px solid #8B5CF6;">
        <p style="padding:  5px 0; font-family: sans-serif; font-size: 22px; font-weight: bold; color: #4C1D95;">
            {{data.app_full_name}}
        </p>
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 16px;">
            Hello <b>{{data.username}}</b>, somebody initiated recovery of your account. If it wasn't you, ignore this message or contact administrator.
        </p>
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 16px;">
            Your PIN:
        </p>
        <p style="padding: 5px 0; font-family: monospace, monospace; color: #4C1D95; font-size: 14px;">{{data.pin}}</p>
        <p style="padding: 5px 0; font-family: sans-serif; font-size: 16px;">
            Click on link to start activation:
        </p>
        <p style="padding: 5px 0; font-family: monospace, monospace; font-size: 14px;">
            <a href="{{data.activation_link}}" style="color:#8B5CF6;">{{data.activation_link}}</a>
        </p>
    </div>
</div>